<html>
<head>
 <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
   <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	 <link rel="stylesheet" href="css/futuriste.css">
  <title>404 pages</title>
</head>

<body>



        <!DOCTYPE html>
        <html lang="en">
        
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
                <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
                  <link rel="stylesheet" href="css/futuriste.css">
            <title>Page Not Found</title>
            <link rel="stylesheet" href="/css/main.css">
        </head>
        
        <body>
            <header class="main-header">
                <nav class="main-header__nav">
                    <ul class="main-header__item-list">
                        <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                        <li class="main-header__item"><a href="/admin/add-product">Add Product</a></li>
                    </ul>
                </nav>
            </header>
            <h1>Page Not Found!</h1>
        </body>
        
        </html>